<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css", rel="stylesheet">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=b23cb2f0-cebf-4bd8-94c1-0500fb833bac" type="text/javascript"></script>
    {% block h %} {%endblock%}
    <title>Чеченские Госуслуги</title>
</head>
<body>
    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          {% if current_user.is_authenticated %}
        <li><a href="/profile" class="nav-link px-2 link-secondary">Profile</a></li>
          {% endif%}
        <li><a href="#" class="nav-link px-2 link-dark">Settings</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
          <li><a href="/map" class="nav-link px-2 link-dark">Maps</a></li>
      </ul>

      <div class="col-md-3 text-end">
          {% if current_user.is_authenticated %}
          <a href="/logout"><button type="button" class="btn btn-outline-primary me-2">{{current_user.name}}</button></a>

          {% else %}
           <a href="/login"> <button type="button" class="btn btn-outline-primary me-2">Login</button></a>
           <a href="/register"><button type="button" class="btn btn-primary">Sign-up</button></a>
          {%endif%}
      </div>
    </header>
  </div>
    {% block content %} {% endblock %}
</body>
</html>

