{% extends "base.html"%}


{% block content %}

<div class="row" style="margin-left: 10px">
      <div class="col-lg-4">
        <img src="../static/images/health_logo.svg" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Health</h2>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img style="width: 140px; height:140px" class="bd-placeholder-img rounded-circle" src="../static/images/bus_logo.svg">
          <h2 class="fw-normal">Bus</h2>
        <p><a class="btn btn-secondary" href="/geodata">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="../static/images/education_logo.svg" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Education</h2>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div>


{% endblock %}