{% extends "base.html" %}
{% block content %}
    <form action="" method="POST">
            {{form.hidden_tag()}}
  <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}


  <p>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
  <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}


  <p>
        {{ form.medical_card.label }}<br>
        {{ form.medical_card(class="form-control") }}<br>
        {% for error in form.medical_card.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
      <p>
    {{ form.medical_institutions.label }}<br>
    {{ form.medical_institutions(class="form-control") }}<br>
    {% for error in form.medical_institutions.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}
             <p>
    <br>
    {{ form.submit(class="form-control") }}<br>
    {% for error in form.submit.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}

    </form>
{% endblock %}